<div class="container" *ngIf="Persona">
    <div class="row">
        <button id="volver"  type="buttom"class="btn btn-secondary" value="volver" onClick="history.go(-1);">volver</button> 
        <div>
            <form (ngSubmit)="onUpdate() "novalidate #f="ngForm">
                <div class="card">
                    <label class="card-body" for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"[(ngModel)]="Persona.nombre" required>
                </div>
                <div class="card">
                    <label class="card-body" for="apellido">apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"[(ngModel)]="Persona.apellido" required>
                </div>
                <div class="card">
                    <label class="card-body" for="descripcion">descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descrpcion"[(ngModel)]="Persona.descripcion" required>
                </div>
                <button class="btn btn-primary">Actualizar
                </button>

            </form>
        </div>

    </div>
</div>
