<div class="container">
    <div class="row">
        <button id="volver" type="buttom"class="btn btn-secondary" value="volver" onClick="history.go(-1);">volver</button> 
        <div>
            <form (ngSubmit)="onCreate() "novalidate #f="ngForm">
                <div class="card">
                    <label class="card-body" for="nombreE">Nombre de Skills</label>
                    <input type="text" class="form-control" id="nombreS" name="nombreE"[(ngModel)]="nombreS" required>
                </div>
                <div class="card">
                    <label class="card-body"for="porcentajeS">porcentaje </label>
                    <input type="number" class="form-control" id="porcentajeS" name="porcentajeS"[(ngModel)]="porcentajeS" required>
                </div>
                <div class="card">
                    <label class="card-body"for="imageS">imagen </label>
                    <input type="text" class="form-control" id="imageS" name="imageS"[(ngModel)]="imageS" required>
                </div>
                <button class="btn btn-primary">Agregar Skills
                </button>


            </form>
        </div>

    </div>

    