<div class="container">
    <div class="row">
        <button id="volver" type="buttom"class="btn btn-secondary" value="volver" onClick="history.go(-1);">volver</button> 
        <div>
            <form (ngSubmit)="onCreate() "novalidate #f="ngForm">
                <div class="card">
                    <label class="card-body" for="nombreE">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE"[(ngModel)]="nombreE" required>
                </div>
                <div class="card">
                    <label class="card-body" for="descripcionE">Descripcion de tareas</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE"[(ngModel)]="descripcionE" required>
                </div>
                <button class="btn btn-primary">Agregar Experiencia
                </button>

            </form>
        </div>

    </div>

</div>