
<div class="container" *ngIf="proyectos">
    <div class="row">
        <button  type="buttom"class="btn btn-secondary" value="volver" onClick="history.go(-1);">volver</button> 
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="card">
                    <label class="card-body"for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control"
                     id="nombreP" name="nombreP" [(ngModel)]="proyectos.nombreP" required>
                </div>
                <div class="card">
                    <label class="card-body"for="descripcionP">Descripcion </label>
                    <input type="text" class="form-control"
                     id="descripcionP" name="descripcionP" [(ngModel)]="proyectos.descripcionP" required>
                </div>
                <div class="card">
                    <label class="card-body"for="imageP"> URL de imagen</label>
                    <input type="text" class="form-control" 
                     id="imageP" name="imageP" [(ngModel)]="proyectos.imageP" required>
                </div>
                <button class="btn btn-primary">
                    Editar proyecto
                </button>
            </form>
        </div>
    </div>
</div>