<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate() "novalidate #f="ngForm">
                <div class="form-group">
                    <label class="card-body"for="nombreP">Nombre de proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP"[(ngModel)]="nombreP" required>
                </div>
                <div class="form-group">
                    <label class="card-body"for="descripcionP">descripcion </label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP"[(ngModel)]="descripcionP" required>
                </div>
                <div class="form-group">
                    <label class="card-body"for="imageP"> URL de imagen </label>
                    <input type="text" class="form-control" id="imageP" name="imageP"[(ngModel)]="imageP" required>
                </div>
                <button class="btn btn-primary">Agregar Proyecto
                </button>
            </form>
        </div>

    </div>

